:root {
  --SidebarInlineSize: 15rem;
  --minBlockSize: 37.5rem;
  --minInlineSize: 48rem;
  --bottomSize: 5.5rem;
}

.layout {
  min-inline-size: var(--minInlineSize);
  display: grid;
  block-size: 100vh;
  grid-template-areas: "sidebar page" "footer footer";
  grid-template-columns: var(--SidebarInlineSize) 1fr;
  grid-template-rows: 1fr var(--bottomSize);
}

.layout .sidebar {
  grid-area: sidebar;
}

.layout .page {
  grid-area: page;
}

.layout footer {
  grid-area: footer;
}

/* .hero {
  background: linear-gradient(to bottom, rgba(255, 255, 255, .2), transparent) var(--gray70);
  block-size: 340px;
} */