.playlist {

}

.playlist-item {
  display: flex;
  padding: 0.5rem;
  gap: .5rem;
  align-items: center;
}

.playlist-item > * {
  flex: 2;
}

.item-1 {
  flex: 3;
  display: flex;
  gap: 1rem;
  block-size: 2.5rem;
  align-items: center;
  overflow: hidden;
}

.number {
  display: flex;
  inline-size: 1.875rem;
  font: var(--baseFont);
  color: var(--white);
  justify-content: flex-end;
  flex-shrink: 0;
}

.song-cover img {
  inline-size: 2.5rem;
  block-size: 2.5rem;
  vertical-align: middle;
}

.title-artist {
  overflow: hidden;
}

.song-title {
  font: var(--small);
  color: var(--white);
  margin: 0;
}

.song-artist {
  display: block;
  font: var(--small);
  color: var(--gray10);
  text-decoration: none;
}

.item-2 {
  overflow: hidden;
  display: flex;
  block-size: 2.5rem;
  align-items: center;
}

.album {
  font: var(--small);
  color: var(--white);
  text-decoration: none;
}

.item-3 {
  overflow: hidden;
  display: flex;
  block-size: 2.5rem;
  align-items: center;
}

.date-added {
  font: var(--small);
  color: var(--white);
}

.item-4 {
  display: flex;
  block-size: 2.5rem;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.duration {
  font: var(--small);
  color: var(--white);
}
