.playlist-buttonIcon {
  inline-size: 2.5rem;
  block-size: 2.5rem;
  background: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: var(--gray10);
}

.playlist-buttonIcon.is-white {
  background: var(--white);
  color: var(--gray50);
}

.playlist-buttonIcon.is-primary {
  background: var(--primary);
  color: var(--white);
}

.playlist-buttonIcon .icon-play {
  position: relative;
  left: 1px;
  top: 1px;
}

.playlist-buttonIcon i {
  font-size: 1rem;
}

.playlist-buttonIcon:active {
  transform: scale(.95);
}

.playlist-buttonIcon:hover:is([class*='is-']) {
  box-shadow: 0 8px 8px rgba(0, 0, 0, .3);
}