@import './search.css';
@import './navigation.css';
@import './header.css';
@import './sticky.css';
@import './searchplaylist.css';
@import './playlist-header.css';
@import './playlist-controls.css';
@import './playlist-dataTable.css';
@import './playlist.css';

.main {
  padding-inline-end: 2em;
  padding-inline-start: 2em;
  padding-block-end: 2em;
  overflow: auto;
}

.page-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page .header {
  margin-block-end: 1rem;
  margin-inline-end: -1.5rem;
  margin-inline-start: -1.5rem;
}