@import './playlistbutton-icon.css';
@import './button-iconHeart.css';
@import './button-iconDownload.css';

.playlistControls {
  display: flex;
  block-size: 3.5rem;
}

.playlistButtons {
  display: flex;
  align-items: center;
  flex: 2;
  gap: 1.5rem;
}

.playlist-buttonIcon {
  inline-size: 3.5rem;
  block-size: 3.5rem;
  border-radius: 50%;
  flex-shrink: 0;
}

.playlist-search {
  display: flex;
  padding-inline-end: .5rem;
}





