<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <title>Aprender</title>
</head>

<body>
  <div class="lesson">
    <div class="lesson-thumb">
      <img src="/images/gatito-2.avif" height="200" width="200" alt="Imagen de gatito">
    </div>
    <h2 class="lesson-title">
      El título de la clase
    </h2>
    <p class="lesson-description">
      Esta clase es importante por las cosas que te cuento en este parrafo :)
    </p>
  </div>
</body>

</html>